body {
    background-color: slategray;
    text-align: center;

}

img {
    max-width: 80%;
    height: auto;
}

ul {
    text-align: left;
}

img:hover{
    border: 3px solid black;
    transform: scale(1.1);
    transition: .5s;
}