
body{
color: #ffffff;
background-color:#112e51 ;
text-align: center;
}

img{
    width: 80%;
    height: auto;
}

ul{

    text-align: left;
    
}
a {
    color:lightgray
}

img:hover{
    border: 3px solid black;
    transform: scale(1.1);
    transition: .5s;
}

#email{


}

#github{


}

.name{



}

#portfolio{

}